body {
  background-color: #eff5f8;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 24px;
  cursor: pointer;
  font-size: 24px;
  background-color: #247ba0;
  color: white;
}

.container {
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
}

.time-container {
  /* margin-left: 900px; */
  margin-top: 150px;
  font-size: 20px;
}

.hide {
  display: none;
}

@media (max-width: 200px) {
}
@media only screen and (max-width: 400px) {
  .time-container {
    margin-left: 50px;
    color: red;
  }
}
